/* Header ---START */
#header {
    background: #363d4a;
    width: 100%;
    position: fixed;
    z-index: 999;
	top: 0;
}

#header .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px 0;
    max-width: 1200px;
}

#header .logo {
    color: #fff;
    display: flex;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

#header .logo:hover {
    opacity: .8;
}

#header .logo .logo-image {
    width: 40px;
    height: 40px;
    padding: 0;
}

#header .logo span {
    font-size: 1.6em;
    padding: 0px 15px;
    line-height: 1.6em;
}

#header .nav {
    display: flex;
    justify-content: flex-end;
    
}

#header .nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#header .nav ul:first-child li {
    margin: 0 5px;
    border-radius: 20px;
    padding: 10px 0;
}

#header .nav ul:first-child li a {
    padding: 10px 10px;
}

#header .nav ul:last-child li:first-child {
    padding: 10px 0 10px 10px;
}

#header .nav ul:last-child li:last-child {
    padding: 10px 0 10px 10px;
}

#header .nav li a {
    color: #fff;
    transition: all .2s ease-in-out;
}

#header .nav li a:hover {
    opacity: .8;
}

#header .nav li a span {
    margin: 0 0 0 10px;
}


#header .nav .shop {
    background: #f67280;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

#header .nav .shop:hover {
    background: #d5636f;
    opacity: 1;
}

#header .nav .login {
    background: #f8b195;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

#header .nav .login:hover {
    background: #d88868;
    opacity: 1;
}

@media only screen and (max-width: 1250px) {
    #header .logo {
        margin-left: 20px;
    }
    #header .nav {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1100px) {
    #header .nav {
        padding: 3px 0!important;
    }
    #header .container {
        padding: 15px 0!important;
        font-size: .9em!important;
    }
}

#header .desktop-menu {
    display: block;
}
#header .mobile-menu-icon {
    display: none;
}

@media only screen and (max-width: 960px) {
    #header .desktop-menu {
        display: none;
    }
    #header .mobile-menu-icon {
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    #header .logo {
        margin-left: 20px;
    }
}

#header .nav li a:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

#header .nav ul:first-child li [aria-current] {
    border-bottom: 3px solid#fff!important;
}
/* Header ---END */