/* Custom Banner */
#custom-banner {
    background-image: linear-gradient( 89.5deg, rgba(246,114,128,1) 0.2%, rgba(248,177,149,1) 90.6% );
    background-size: cover;
    background-position: center;
}

#custom-banner .overlay {
    background: rgba(0,0,0,0.2);
}

#custom-banner .center {
    text-align: center;
}

#custom-banner .center p {
    max-width: unset!important;
}

#custom-banner .text {
    color: #fff;
    margin: auto;
    padding: 10em 0 5em;
    max-width: 1200px;
}

#custom-banner .text h2 {
    font-size: 3em;
}

#custom-banner .text p {
     font-size: 1em;
     max-width: 60ch;
     line-height: 1.7em;
}

@media only screen and (max-width: 1300px) {
    #custom-banner .text {
        padding: 10em 4em 5em;
    }
}

@media only screen and (max-width: 900px) {
    #custom-banner .text {
        padding: 6em 4em 2em 4em!important;
    }
    #custom-banner .text h2 {
        font-size: 2em!important;
    }
}
/* Banner ---   END */