/* Tag ---START */
.store-tag-margin {
    margin-top: 6em;
}

#store-tag-page-top {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 1146px;
    margin: auto;
    justify-content: space-between;
    padding: 0 0 2em;
}

#store-tag-page-top h3 {
    font-size: 2.2em;
    margin: 0;
}

#store-tag-page-top h3 span {
    color: #d4515f;
}

@media only screen and (max-width: 1250px) { 
    #store-tag-page-top {
        max-width: unset;
        margin: auto 30px;
    }
}

@media only screen and (max-width: 700px) { 
    #store-tag-page-top {
        flex-direction: column;
        margin: 0 30px!important;
    }
    #store-tag-page-top {
        margin: 0 auto 3em;
    }
    #store-tag-page-top h3:last-child {
       font-size: 1.4em;
    }
    #store-tag-page-top h3 {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) { 
    #store-tag-page-top {
        margin: 0 0 3em;
    }
    #store-tag-page-top .search-container i {
        padding: 2px 5px 2px 5px!important;
    }
}





#store-tag-page {
    padding: 90px 20px 10px;
    text-align: center;
    background: #e5e5e5;
}

#store-tag-page h3 {
    font-size: 2em;
    margin-bottom: 5px;
}

#store-tag-page h3 span {
    color: #d4515f;
}

#store-tag-page h4 {
    font-size: 1em;
    margin: 0 0 -10px 0;
}
/* Tag ---END */

/* Pagination ---START */
#store-pagination {
    display: flex;
    margin: 30px auto 40px;
    max-width: 900px;
    justify-content: space-between;
    padding: 0 30px;
}

#store-pagination .previous a, .numbering a, .next a {
    padding: 10px 15px;
    border-radius: 20px;
    background: #e5e5e5;
    font-size: 1em;
    transition: all 0.3s ease-in-out 0s;
    color: #363d4a;
    text-decoration: none;
    line-height: 0;
    cursor: pointer;
}

#store-pagination .previous a:hover, .numbering a:hover, .next a:hover  {
    opacity: .8;
}

#store-pagination .numbering a {
    margin: 0 5px;
}

#store-pagination .current-page {
    background: #f67280;
    color: #fff;
}
/* Pagination ---END */