#position {
    background: #f8b195;
}

#position .position-container {
    max-width: 1200px;
    margin: auto;
    padding: 5px 20px;
    display: flex;
}

#position .position-container p, #position .position-container a {
    margin: 0;
    font-size: .9em;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
}

#position .position-container p {
    margin: 0 5px;
}

#position .position-container p:last-child {
    margin: 0;
}

#position .position-container a:hover {
    opacity: .7;
}

#position .position-container .current {
    text-decoration: underline;
}

@media only screen and (min-width: 960px) {
    .hide-desktop {
        display: none;
    }
}

.small-screen-900 {
    display: none;
}
.small-screen-700 {
    display: none;
}
.small-screen-500 {
    display: none;
}
.small-screen-400 {
    display: none;
}
.big-screen {
    display: block;
}

@media only screen and (max-width: 700px) {
    .big-screen {
        display: none;
    }
    .small-screen-900 {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .small-screen-900 {
        display: none;
    }
    .small-screen-700 {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .small-screen-700 {
        display: none;
    }
    .small-screen-500 {
        display: block;
    }
}

@media only screen and (max-width: 400px) {
    .small-screen-500 {
        display: none;
    }
    .small-screen-400 {
        display: block;
    }
}