#login {
    background: linear-gradient( 89.5deg,  rgba(246,114,128,1) 0.2%, rgba(248,177,149,1) 90.6% );
    padding: 80px 0 0 0;
    min-height: 80vh;
    color: #fff;
}


#login .container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    padding: 10vh 10vh;
    flex-direction: column;
    text-align: center;
}

#login form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#login .inner-container div {
    display: flex;
}

#login label {
    font-size: 1.8em;
    margin: 20px 0 20px 20px;
}

#login input {
    color: #363d4a;
    background: #fff;
    border: none;
    border-radius: 20px;
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.4em;
}



#login button {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 1em;
    margin: 5px 15px;
    border: 2px solid #fff
}

#login button:hover {
    background: #fff;
    color: #363d4a;
}



@media only screen and (max-width: 700px) {
    #login label {
        font-size: 1.4em;
    }
    
    #login input {
        font-size: 1em;
    }
}