/* Base --- START */
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #363d4a;
}

html, body {
    overflow-x: hidden;
}

i, p i {
    text-decoration: none!important;
}

:focus{
    outline:none;
}

.leaflet-container {
    width: 100%;
    height: 300px;
}
/* Base --- END */