/* Base --- START */
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #363d4a;
}

html, body {
    overflow-x: hidden;
}

i, p i {
    text-decoration: none!important;
}

p {
    font-size: 1.1em;
    font-size: 1.2em;
}

:focus{
    outline:none;
}

.leaflet-container {
    width: 100%;
    height: 300px;
}

a:-webkit-any-link {
    text-decoration: none;
}

::selection {
    color: #fff;
    background: #fd7081;
}
/* Base --- END */